body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-size: 50%; /* Reduce image size to 50% */
    color: white;
}

body.bulboff {
    background: #020305 url("pic_bulboff.jpg") no-repeat center center fixed;
}

body.bulbon {
    background: #000405 url("pic_bulbon.jpg") no-repeat center center fixed;
}

#message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
}
